<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.orion.judge.persistence.PartieMapper">
	<resultMap type="com.orion.judge.domain.Partie" id="Partie">
        <id column="id" property="id"  />
        <result property="civilCaseID" column="civilCaseID"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="attorn" column="attorn"/>
        <result property="filings" column="filings"/>
    </resultMap>
	     
    <insert id="insertPartie" parameterType="Partie" useGeneratedKeys="true">
	  <selectKey order="AFTER" keyProperty="id" resultType="int">
	    SELECT currval('parties_id_seq')
	  </selectKey>
	  insert into parties (name,type,attorn,filings,civilcase_id)
	  values (#{name},#{type},#{attorn},#{filings},#{civilCaseID})
	</insert>
</mapper>
