<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.orion.judgesc.persistence.DocumentMapper">
	<resultMap type="com.orion.judgesc.domain.Document" id="Document">
        <id column="id" property="id"  />
        <result property="numberPages" column="number_pages"/>
        <result property="url" column="url"/>
        <result property="content" column="content"/>
        <result property="actionId" column="action_id"/>
    </resultMap>
    
    <insert id="addDocument" parameterType="Document" useGeneratedKeys="true">
	  <selectKey order="AFTER" keyProperty="id" resultType="int">
	    SELECT currval('documents_id_seq')
	  </selectKey>
	  insert into documents (number_pages,url,content,action_id)
	  values (#{numberPages}, #{url}, #{content}, #{actionId})
	</insert>
</mapper>
