<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.orion.judgesc.persistence.ParticipantMapper">
	<resultMap type="com.orion.judgesc.domain.Participant" id="Participant">
        <id column="id" property="id"  />
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="representer" column="representer"/>
        <result property="caseId" column="case_id"/>
    </resultMap>
    
    <insert id="addParticipant" parameterType="Participant" useGeneratedKeys="true">
	  <selectKey order="AFTER" keyProperty="id" resultType="int">
	    SELECT currval('participants_id_seq')
	  </selectKey>
	  insert into participants (name,role,representer,case_id)
	  values (#{name}, #{role}, #{representer}, #{caseId})
	</insert>
</mapper>
